@font-face {
    font-family: "Redaction";
    src: url("../webfonts/Redaction_100-Regular.woff2") format('woff2');
  }

  @font-face {
    font-family: "RedactionReg";
    src: url("../webfonts/Redaction-Regular.woff2") format('woff2');
  }

  @font-face {
    font-family: "Redaction20";
    src: url("../webfonts/Redaction_20-Regular.woff2") format('woff2');
  }

  @font-face {
    font-family: "Redaction35";
    src: url("../webfonts/Redaction_35-Regular.woff2") format('woff2');
  }

  @font-face {
    font-family: "Redaction50";
    src: url("../webfonts/Redaction_50-Regular.woff2") format('woff2');
  }

  @font-face {
    font-family: "Redaction70";
    src: url("../webfonts/Redaction_70-Regular.woff2") format('woff2');
  }


  ::-webkit-scrollbar {
    height: 0;
    width: 8px;

  }

  ::-webkit-scrollbar-track {
    background-color: white;
    opacity: 0;

  }

  ::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 4px;
    border: 2px solid transparent;
    background-clip: content-box;
  }
  

*{
    margin: 0;
    padding: 0;

}

body{
    margin-top: 2vh;
    background-color: white;
    color: black;
    overflow: hidden;
    padding: 1%;
    box-sizing:border-box;    
    padding-top: 2.9vw;
    /* overflow-y: scroll; */

}

p{
    margin-top: 10pt;
    margin-bottom: 10pt;

}


a:link,
a:visited {
    color: black;

}

a:hover {
    text-decoration:none;
    
}

.event{
    z-index: 1;

}

.images{
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;

}

.images img{
    width: 100%; 
    height: auto;
    border: 1px solid black;

}


#titles{
    font-style: normal;

}


.RM{
    font-size: 4vw;
    font-family: "roc-grotesk";
    font-weight: 300;
    font-style: bold;
    display:inline-block;
    border: solid 1px black;
    background-color: white;
    position: absolute;
    height: auto;
    /* margin-top: 1vh; */
    padding: 1vw;
    margin-left: 1vw;
    margin-top: 2vh;
    /* z-index: -2; */

}

.GD{
    text-transform: uppercase;
    padding-top: 4vh;
    font-size: 18vw;
    line-height: 32vh;
    font-family: "RedactionReg";
    font-weight: 300;
    /* border: 1px black solid; */
    display: inline-block;
    padding-top: 5vh;
    margin-top: 14vh;
    padding: 4vh;
    padding: 4vw;
    margin-left: 4vw;
    /* background-color: white; */
    position: absolute;
    z-index: -2;

}

.LS {
    font-family: "roc-grotesk";
    font-size: 3vw;
    font-weight: 300;
    border: 1px black solid;
    display: inline-block;
    height: auto;
    position: absolute;
    background-color: white;
    margin-top: 73vh;
    margin-left: 58vw;
    /* right: 5vw; */
    /* margin-top: 79vh; */
    padding: 1vw;

}

section{
    line-height: 10pt;
    font-size: x-small;
    width: 35em;
    border: solid black 1px;
    padding: 2em;
    background-color: white;
    color: black;
    position:absolute;
    overflow: scroll;

}

img:hover{
    cursor: pointer;
}

section:hover{
    cursor: nesw-resize;
    /* cursor: url(../images/cursor/expand.png),auto; */
}

#anther_kiley{
    height: 26vh;
}

#takahashi_kuan{
    height: 32vh;
}

#e_roon_kang{
    height: 32vh;
}

#sebastian_aubin{
    height: 28vh;
}

p{
    font-family: "roc-grotesk";
}



.external_links{
    width: 100%;
}

.their{
    border-bottom: 1px solid black;
    margin-top: 1.5rem;
}

.images img {
    border: 1px solid black;
  }




/* this should work for all mobile devices since mobile does not have hover */
  @media (hover: none) {

    body{
        overflow: scroll;
        align-items: center;
        padding:3vw;
    }
    .RM{
        position: static;
        margin: 1vh;
        padding: auto;
    }
    .GD{
        font-size: 20vw;
        line-height: 15vh;
        position: static;
        padding: 0;
        margin: 1vh !important;
    }
    .LS{
        position: static;
        font-size: 4vw;
        margin: 0vh;
        margin-bottom: 4vh;
        margin-left: 45vw;
    }
    section{
        line-height: 14pt;
        font-size: 16px;
        width: 50vw;
        border: solid black 1px;
        padding: 2em;
        background-color: white;
        color: black;
        position:static !important;
        height: 20vh;
        margin-bottom: 2vh;
        margin-left: auto;
        margin-right: auto;
        transform: scale(1) !important;
    }

    #anther_kiley{
    height: auto !important;
    }

    #takahashi_kuan{
        height: auto !important;
    }

    #e_roon_kang{
        height: auto !important;
    }

    #sebastian_aubin{
        height: auto !important;
    }

    }


    /*---------------------------- if smaller than 720 px---------------------- */

    @media (max-width: 750px) {

    body{
        overflow: scroll;
        align-items: center;
    }
    .RM{
        position: static;
        margin: 1vh;
        padding: auto;
    }
    .GD{
        font-size: 21vw;
        line-height: 6vh;
        position: static;
        padding: 0;
        margin: 1vh !important;
    }
    .LS{
        position: static;
        margin: 0vh;
        font-size: 4vw;
        margin-bottom: 1vh;
        margin-left: 45vw;
    }
    section{
        line-height: 14pt;
        font-size: 16px;
        width: 80vw;
        border: solid black 1px;
        padding: 2em;
        background-color: white;
        color: black;
        position:static !important;
        height: 20vh;
        margin-bottom: 2vh;
        margin-left: auto;
        margin-right: auto;
        transform: scale(1) !important; 
    }

    #anther_kiley{
    height: auto !important;
    }

    #takahashi_kuan{
        height: auto !important;
    }

    #e_roon_kang{
        height: auto !important;
    }

    #sebastian_aubin{
        height: auto !important;
    }

    }

/* .image{
    position: absolute;
    border: 1px solid black;
    height: 50%;
    width: 50%;
    z-index: 1000;
} */




