@font-face {
    font-family: "Redaction";
    src: url("../webfonts/Redaction_100-Regular.woff2") format('woff2');
  }

  @font-face {
    font-family: "RedactionReg";
    src: url("../webfonts/Redaction-Regular.woff2") format('woff2');
  }

*{
    margin: 0;
    padding: 0;

}

body{
    margin-top: 2vh;
    background-color: white;
    color: black;
    overflow: hidden;
    padding: 1%;
    box-sizing:border-box;    
    padding-top: 2.9vw;
    /* overflow-y: scroll; */

}

p{
    margin-top: 10pt;
    margin-bottom: 10pt;

}


a:link,
a:visited {
    color: black;

}

a:hover {
    text-decoration:none;
    
}

.event{
    z-index: 1;

}

.images{
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;

}

.images img{
    width: 100%; 
    height: auto;
    border: 1px solid black;

}


#titles{
    font-style: normal;

}


.RM{
    font-size: 3vw;
    font-family: "roc-grotesk";
    font-weight: 300;
    font-style: bold;
    width: 40%;
    height: 100%;
    padding-left: 2vw;
    border: solid 1px black;
    border-bottom: none;

}

/* .line{

    border-top: 1px black solid;
    width: 60vw;

} */

/* .line2{

    border-top: 1px black solid;
    margin-top: 4vh;

} */

.GD{
    text-transform:uppercase;
    padding-top: 4vh;
    font-size: 21vw;
    line-height: 32vh;
    /* font-family: "roc-grotesk", sans-serif; */
    font-family: "Redaction";
    font-weight: 300;
    border:1px black solid;
    /* border: black solid 1px; */
}

#titles h2 {
    font-size: 2rem;
    font-family: "roc-grotesk";
    font-size: 4vw;
    font-weight: 300;
    font-style: normal;
    padding-left: 1.75vw;
    margin-top: 2vh;
    /* border: 1px solid black; */

}

section{
    line-height: 10pt;
    font-size: x-small;
    width: 35em;
    border: solid black 1px;
    padding: 2em;
    background-color: white;
    color: black;
    position:absolute;
    overflow: scroll;

}

section:hover{
    cursor: nesw-resize;
    /* cursor: url(../images/cursor/expand.png),auto; */
}

#anther_kiley{
    height: 26vh;
}

#takahashi_kuan{
    height: 32vh;
}

#e_roon_kang{
    height: 32vh;
}

#sebastian_aubin{
    height: 28vh;
}

p{
    font-family: "roc-grotesk";
}




/* extra memes */

.myButton{
float: right;
text-decoration: none;
border: none;
padding: 2px;
background-color: white;
font-size: 0.5rem;
font-family: "roc-grotesk";
color: gray;
}

.myButton:hover{
    color: red;
}

.external_links{
    width: 100%;
}

.their{
    border-bottom: 1px solid black;
    margin-top: 1.5rem;
}

.images img {
    border: 1px solid black; /* Adjust border width and color as needed */
  }

  @media (max-width: 720px) {
 .GD{
    color: blue;
 }
}

